src/node_modules
src/vendor

src/.env

src/.phpunit.result.cache
src/public/build
src/public/hot
src/public/storage
src/storage/*.key
src/storage/pail
src/bootstrap/cache/*
src/storage/debugbar/*
src/storage/logs/*
src/storage/framework/cache/*
src/storage/framework/sessions/*
src/storage/framework/views/*
*.log

node_modules
vendor

.env

.phpunit.result.cache
public/build
public/hot
public/storage
storage/*.key
storage/pail
bootstrap/cache/*
storage/debugbar/*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
*.log
